{% extends 'layout.html' %}

{% block head %}
    {% parent %}
    <meta http-equiv="refresh" content="60; URL=/room/{{room.id}}/">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
{% endblock %}

{% block content %}
<div id="header" class="row">
    <div class="sixteen columns">
        <div class="section">
            <div class="room">
                <h4>{{room.location}} // {{room.name}}</h4>
            </div>
            <div class="time">
                <h4 id="clock">00:00</h4>
            </div>
        </div>
    </div>
</div>

<div id="status" class="row">
    <div class="sixteen columns">
        <div class="section">
            {% if current_event %}
                <span class="status">Busy</span>
                until
                <span class="time">{{current_event.end.format('HH:mm')}}</span>
            {% else %}
                <span class="status">Available</span>
                {% if next_event %}
                    until
                    <span class="time">{{next_event.start.format('HH:mm')}}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<div id="detail" class="row">
    <div class="twelve columns alpha">
        <div class="section">
            {% if current_event %}
                <div class="title">
                    {{current_event.title}}
                </div>

                <div class="attendees">
                    <span>Attendees:</span>
                    <span class="owner">{{current_event.owner}}</span>
                    {% if current_event.attendees %}
                       {{current_event.attendees|join(" ")}}
                    {% endif %}
                </div>

                <div class="alternatives">
                    <h4>Alternative Rooms</h4>
                    <ul id="free-rooms-list"></ul>
                </div>
            {% else %}
                <div class="title">Book until:</div>
                <br />
                {% for time in adhoc_times %}
                    <a class="book-button three columns" href="/room/{{room.id}}/book/{{time.toISOString()}}">{{time.format('HH:mm')}}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="four columns omega">
        <div class="section">
            <a id="finish-meeting" class="book-button three columns" href="#">Finish</a>
        </div>
    </div>
</div>

<div id="schedule" class="row">
    <div class="sixteen columns">
        <div class="section">
            <h4>Schedule</h4>
            <div class="schedule-ct">
                <div class="schedule-marker-ct">
                    {% for index in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]-%}
                        <!-- hour legend -->
                        {% if index % 4 == 0 %}
                            <span style="left: {{index * 5 }}%" class="schedule-marker">
                                {{(start_time.hour() + index/4) % 24 }}:00
                            </span>
                        {% endif %}

                        <!-- minor markers -->
                        <span style="left: {{index * 5 }}%" class="schedule-minor-marker"></span>

                    {%- endfor %}
                    <!-- current time marker -->
                    <span id="time-marker" style="left: 50%" class="current-time-marker"></span>

                {% for item in schedule -%}
                    <div style="left: {{item.from_start / 3}}%; width: {{item.minutes / 3}}%;" class="schedule-item {{item.status}}" alt="{{item.title}}">&nbsp;</div>
                {%- endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script type="text/javascript">
    
    $( "#finish-meeting" ).click(function() {
        $.post(window.location + 'in-use/', function() {
            window.location.reload();
        })
    });

    var updateTime = function() {
        var time = new Date();
        var hours = time.getHours();
        var minutes = time.getMinutes();

        var start_hour = {{start_time.hour()}};
        var passed_hours = hours - start_hour;
        var passed_minutes = minutes + 60 * passed_hours;

        var position_percent = (passed_minutes / (5 * 60)) * 100;

        // update current time marker
        document.getElementById("time-marker").style.left = position_percent + "%";

        // update clock display
        hours = ( hours < 10 ? "0" : "" ) + hours;
        minutes = ( minutes < 10 ? "0" : "" ) + minutes;

        var time_string = hours + ":" + minutes;
        document.getElementById("clock").firstChild.nodeValue = time_string;
    }
    updateTime();
    setInterval(updateTime, 1000);

    {% if current_event %}
        var updateFreeRooms = function() {
            var xmlHttp = null;

            xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", '//' + window.location.host + '/free_rooms', false );
            xmlHttp.send( null );
            var free_rooms = JSON.parse(xmlHttp.responseText);
            console.log(xmlHttp.responseText);
            console.log(free_rooms);

            list_items = "";
            for (var i=0; i<free_rooms.length; i++) {
                room = free_rooms[i];
                room_str = room.location + " // " + room.name;
                if (room.available_until) {
                    room_str += " [available until " + room.available_until +"] "
                }
                list_items += "<li>" + room_str + "</li>";
            }

            document.getElementById("free-rooms-list").innerHTML = list_items;

        }
        updateFreeRooms();
    {% endif %}
</script>

{% endblock %}
