{% extends 'layout.html' %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/static/stylesheets/flipclock.css">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
{% endblock %}

{% block content %}



<div id="header" class="row">
    <div class="sixteen columns">
        <div class="section">
            <div class="room">
                <h4 data-bind="text: roomName">{{room_name}}</h4>
            </div>
            <div class="time">
                <h4 id="clock" data-bind="text: currentTimeLabel">XX:XX</h4>
            </div>
        </div>
    </div>
</div>


<div data-bind="if: roomInUse">
    <div id="status" class="row">
        <div class="section">
            <span class="status" data-bind="text: currentEventTitle"></span>
        </div>
    </div>

    <div class="row" data-bind="visible: displayCountdown">
        <div class="sixteen columns">
            <div class="container row your-clock"></div>
        </div>
    </div>

    <a class="book-button four columns" href="#" data-bind="click: finishMeeting">I'm Done</a>

    <h2 class="sixteen columns" id="meeting_end_label">
        Your meeting ends at <span data-bind="text: currentEventEndTimeLabel"></span>

    </h2>
</div>

<div data-bind="ifnot: roomInUse">
    <div id="status" class="sixteen columns">Next up: <span data-bind="text: nextMeetingLabel"></span></div>
</div>


        <!--<div class=" sixteen columns"><pre data-bind="text: ko.toJSON($root, null, 2)"></pre></div>-->


<script src="/static/js/flipclock.js"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/js/knockout.js"></script>

<script>

    var roomState = {
        'endOfCurrentMeeting': moment("{{ current_event.end.toISOString() }}"),
        'currentMeetingTitle': "{{ current_event.title }}"
    };

    $(document).ready(function () {
        var currentDate = moment();

        // Set some date in the future. In this case, it's always Jan 1
        var futureDate = moment("{{ current_event.end.toISOString() }}");

        // Calculate the difference in seconds between the future and current date
        var diffSeconds = futureDate.diff(currentDate, 'seconds');


        function AppViewModel() {
            var self = this;

            this.currentTime = ko.observable(moment());

            this.roomName = ko.observable("{{room.location }} // {{ room.name }}");
            this.currentEventTitle = ko.observable("{{ current_event.title }}");
            this.currentEventEndTime = ko.observable(moment("{{ current_event.end.toISOString() }}"));

            this.roomInUse = ko.observable({{ room_in_use }});
            this.nextMeetingLabel = ko.observable("{{ next_meeting_label }}");

            this.currentTimeLabel = ko.computed(function() {
                return self.currentTime().format('HH:mm');
            }, this);

            this.currentEventEndTimeLabel = ko.computed(function() {
                if (self.currentEventEndTime() === undefined) {
                    return '';
                } else {
                    return self.currentEventEndTime().format('HH:mm');
                }

            });

            this.currentEventRemainingSeconds = ko.computed(function() {
                if (self.currentEventEndTime() === undefined) {
                    return 0;
                } else {
                    return self.currentEventEndTime().diff(self.currentTime(), 'seconds')
                }
            })

            this.displayCountdown = ko.computed(function() {
                var decider = self.currentEventRemainingSeconds();
                return self.roomInUse() && (decider < (60 * 5))
            })

            this.finishMeeting = function() {
                var jqxhr = $.post('');

                jqxhr.done(function(data) {
                    console.log(data);
                    self.currentEventTitle(undefined);
                    self.currentEventEndTime(undefined);

                    self.roomInUse(false);
                    self.nextMeetingLabel(data['next_meeting_label']);
                });
            }

        };

        var vm = new AppViewModel();
        ko.applyBindings(vm);

        console.log(ko.toJSON(vm));

        var currentTimeUpdate = setInterval(function() {
            vm.currentTime(moment());
        }, 1000);

        var clock;

        if (vm.displayCountdown()) {
            clock = new FlipClock($('.your-clock'), vm.currentEventRemainingSeconds(), {
                // ... your options here
                countdown: true,
                showSeconds: false
            });
        }

        vm.displayCountdown.subscribe(function(newDisplayCountdown) {
            if (newDisplayCountdown) {
                clock = new FlipClock($('.your-clock'), vm.currentEventRemainingSeconds(), {
                    // ... your options here
                    countdown: true,
                    showSeconds: false
                });
            } else {
            }
        });

        vm.currentEventRemainingSeconds.subscribe(function(newRemainingSecs) {
            if (newRemainingSecs > 0) {
                vm.roomInUse(true);
            } else {
                vm.roomInUse(false);
            }
        });

        vm.currentEventRemainingSeconds.subscribe(function(newRemainingSecs) {
            if (vm.roomInUse()) {

                var decider = newRemainingSecs;

                if (decider < (2 * 60)) {
                    $('body').addClass('impolite-warning')
                    $('body').removeClass('polite-warning');
                } else if (decider < (8 * 60)) {
                    $('body').addClass('polite-warning')
                    $('body').removeClass('impolite-warning');
                } else {
                    $('body').removeClass('impolite-warning');
                    $('body').removeClass('polite-warning');
                }
            } else {
                $('body').removeClass('impolite-warning');
                $('body').removeClass('polite-warning');
            }
        });

    });

</script>

<style>
    .your-clock {
        zoom: 1.9;
        -moz-transform: scale(1.9)
    }

    .flip-clock-label {
        display: none;
    }

    #meeting_end_label {
        margin-top: 30px;
        border: 1px solid transparent;
        line-height: 48px;
        border-radius: 16px;
    }

    .polite-warning #meeting_end_label {
        border-color: yellow;
        background-color: #ffffcc;
        padding: 30px;
    }

    .impolite-warning #meeting_end_label {
        border-color: red;
        background-color: #ff6666;
        padding: 30px;
    }



</style>

{% endblock %}
