<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Rendezvous{% endblock %}</title>

  {% block head %}
    <link rel="stylesheet" href="/static/stylesheets/base.css">
    <link rel="stylesheet" href="/static/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/static/stylesheets/layout.css">

    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
  {% endblock %}
</head>
<body>
  <div class="container">
    {% block content %}{% endblock %}
  </div>

{% block js %}{% endblock %}
</body>
</html>




