{% extends 'layout.html' %}

{% block title %}{{ room.name }}{% endblock %}

{% block head %}
    {% parent %}
    <meta http-equiv="refresh" content="30; URL=/room/{{room.id}}/">
{% endblock %}

{% block content %}
    <header>
        <span class="date">{{now}}</span>
        <h1>{{ room_name }}</h1>
    </header>
    <h1>{{ current_event.title }}</h1>
    <p>{{ current_event.start.format('hh:mm') }}-{{ current_event.end.format('hh:mm') }}</p>
    <h3>Attendees</h3>
    <p>{% for attendee in current_event.attendees %}{{attendee.displayName}}, {% endfor %}</p>

    <form action="." method="post">
        <input type="text" name="meetingLength" />
        <input type="submit" />
    </form>

{% endblock %}
